<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>



<footer>
    <div class="footer-container">
        <a href="https://www.instagram.com/santiagomiranda_r/"><i class="fa-brands fa-instagram fa-custome" style="color: #ffffff;"></i></a>
        <a href="https://github.com/Smiranda01"><i class="fa-brands fa-github fa-custome" style="color: #ffffff;"></i></a>
        <a href="https://www.facebook.com/santiago.miranda.927758"><i class="fa-brands fa-facebook fa-custome" style="color: #ffffff;"></i></a>
        <p>Santiago Miranda - Copyright © <%= new Date().getFullYear() %></p>
    </div>
</footer>

</body>
</html>